
body{font-family:Roboto,sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-size:100%;background-color:#fff;overflow:visible!important
}
.mdc-select__menu{top:0!important;left:inherit!important
}
.mdc-switch{margin-right:12px
}
#app{display:grid;grid-row-gap:32px;padding:12px
}
.section-desc,.section-title{color:rgba(0,0,0,.87);color:var(--mdc-theme-text-primary-on-light,rgba(0,0,0,.87))
}
.section-title{font-size:1.25rem;line-height:2rem;font-weight:500;letter-spacing:.02em
}
.section-desc,.section-title{font-family:Roboto,sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;text-decoration:inherit;text-transform:inherit
}
.section-desc{font-size:.875rem;line-height:1.25rem;font-weight:400;letter-spacing:.04em;padding-top:8px
}
.option-wrap{display:grid;grid-row-gap:12px;padding-top:16px;grid-auto-columns:min-content
}
.option{display:flex;align-items:center;height:36px
}
.option.select,.option.text-field{height:56px
}
.wit-add-api{display:flex;align-items:center;height:56px
}
.wit-add-api>button{align-self:end;margin-left:36px
}
